{{ define "footer" }}
<footer class="text-xs mt-8 p-4 text-center mt-auto">
  <p>Built with <span class="text-red-500">&hearts;</span> by <a href="https://raghavsood.com" target="_blank" class="hover:underline hover:text-slate-200 hover:decoration-dotted text-sky-400/70">Raghav Sood</a>.</p>
</footer>
{{ end }}

