{{ define "content" }}
  <div class="flex flex-col items-center justify-center flex-grow text-white w-full">
    <h1 class="text-4xl mt-4 mb-4">Why?</h1>
    <h2 class="text-xl mb-4">Don't take my word for it. Take theirs.</h2>
    <div class="w-full max-w-3xl mx-auto bg-gray-800 p-4 rounded-lg mb-4">
      <h3 class="text-lg mb-4">Hal Finney, Bitcoin Pioneer</h3>
      <p class="text-sm mb-4">Hal Finney made a Fermi estimate on the value of Bitcoin <a href="https://www.mail-archive.com/cryptography@metzdowd.com/msg10152.html" class="text-sky-500 underline decoration-dotted" target="_BLANK">on 11th January 2009</a>, predicting a value of $10 million per coin - 8 days after the first block was mined.</p>
      <blockquote class="bg-gray-900 p-4 rounded-lg">
        <p>As an amusing thought experiment, imagine that Bitcoin is successful and
becomes the dominant payment system in use throughout the world.  Then the
total value of the currency should be equal to the total value of all
the wealth in the world. Current estimates of total worldwide household
wealth that I have found range from $100 trillion to $300 trillion. With
20 million coins, that gives each coin a value of about $10 million.</p>
        <br />
        <p>So the possibility of generating coins today with a few cents of compute
time may be quite a good bet, with a payoff of something like 100 million
to 1! Even if the odds of Bitcoin succeeding to this degree are slim,
are they really 100 million to one against? Something to think about...</p>
      </blockquote>
    </div>
    <div class="w-full max-w-3xl mx-auto bg-gray-800 p-4 rounded-lg">
      <h3 class="text-lg mb-4">Michael Saylor, Co-Fouder @ MicroStrategy</h3>

      <p class="text-sm mb-4">Unit Bias is kicking in for Bitcoin. It's time to start thinking in millions.</p>
      <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-dnt="true" data-theme="dark"><p lang="en" dir="ltr">The price of <a href="https://twitter.com/search?q=%24BTC&amp;src=ctag&amp;ref_src=twsrc%5Etfw">$BTC</a> is still less than $0.05M.</p>&mdash; Michael Saylor⚡️ (@saylor) <a href="https://twitter.com/saylor/status/1757132469130657905?ref_src=twsrc%5Etfw">February 12, 2024</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <a href="/" class="text-xs hover:underline hover:decoration-dashed mt-4">
      Is the price of Bitcoin over $1M?
    </a>
  </div>
{{ end }}
